#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
   background-color: cyan;
   box-shadow: 0 5px 15px rgba(0,0,0,0.06);

}

#navbar{
    display:flex;
    align-items: center;
    justify-content: center;


}

#navbar li{
    list-style: none;
    padding: 0 10px;
} 
#navbar li a{
    font-size: 16px;
    font-weight: 600;
    color:royalblue;
    text-decoration: none;
    transition: 0.3s ease;
}

#navbar li  a:hover{
    color:black;
}

#hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    width:100%; 
    background-position: top 25% right 0%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;  
}

#hero h4{

    padding-bottom:15px;

}

#hero h1{

    color: green;
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: green;
    border:0;
    padding: 15px 80px 14px 65px;
    background-repeat: no-repeat; 
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}